<body style="text-align: center; font-size: 12px; color: purple;">

<h1 style="color: orange; font-size: 14px; font-weight: 600;
font-family: Verdana;">Let's play Rock, Paper, Scissors!</h1>

<p>You know the rules!</p>
<p>Rock beats scissor</p>
<p>Scissor beats paper</p>
<p>Paper beats rock</p>

<form action="/" method="post">
  <input type="text" name="human_selection">
  <input type="submit" value="Play!">
</form>